/* ~~~~~~~~~~~~~~~~~~~~
   PF Add Page Style
~~~~~~~~~~~~~~~~~~~~ */

#message {
    position: absolute;
    z-index: 20;
    left: 40%;
}

body {
    background-color: #fafafa;
    font-family: Arial, Helvetica, sans-serif;
}

/* page header */
header {
    text-align: center;
    border-bottom: 1px #A2AAAD solid;

    padding: 20px 20px 20px 20px;
    margin: 0px 15px 50px 15px;
    width: 100vw;
}

h1 {
    font-weight: bold;
    font-size: 3em;
}

header p {
    font-size: .8em;
}

/* card tabs */
/* tab link */ 
.nav-item .nav-link {
    border: none;
    color: black;
    border-bottom: 4px #D0D3D4 solid;
    width:100%;
    letter-spacing: .04em;
}

/* active tab */
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    border: none;
    border-bottom: 4px #F76902 solid;
    margin: 0px;
    font-weight: 600;
    letter-spacing: 0em;
}

/*main card */
/*header where tabs are*/
#formCard .card{
    min-width: 60vw;
    min-height: 400px;
    margin: 50px 0px 10px 0px;
}

#formCard .card-header {
    background-color: white;
}

/* next/previous buttons */
#next, #submitForm {
    margin: 10px 0px 10px 0px;
    background-color: #F76902;
    color: white;
}

#back {
    margin: 10px 0px 10px 0px;
    background-color: #D0D3D4;
}

/*form stuff */
#sub {
    font-size: 14px;
    color: rgba(13, 15, 15, 0.64);
    font-style: italic;
    margin-bottom: 10px;
}

/* interests section */

.interests {
    margin: 10px 0px 20px 0px;
}

.interest {
    background-color: #D0D3D4;
    border-radius: 2px;
    margin: 10px 10px 10px 10px;
    padding: 5px 10px 5px 10px;
}

.checkInt {
    -webkit-appearance: none;
}

.checkInt::after {
    content: "+";
    color: black;
}

.checkInt:active, .checkInt:checked:active {
	color: white;
}

.checkInt:checked {
	color: white;
}

.checkInt:checked::after {
    content: "✕";
    color: white;
}

.add {
    max-width: 400px;
}

/* review card */
#reviewCard {
    min-height: 200px;
}

#headerImg {
    background-size: cover;
}

/* footer */
footer {
    margin: 100px 0px 10px 0px;
}

/* ~~~~~~~~~~~~~~~~~~~
   Index Page Style
~~~~~~~~~~~~~~~~~~~ */

#content {
    padding: 0 75px 0 75px;
}

#controls {
    padding-bottom: 16px;
    margin-top: 16px;
}

#controls,
#filters {
    display: flex;
    justify-content: space-between;
}

#gallery > div {
    margin-bottom: 30px;
}

#gallery .card {
    border-radius: 1px;
    border: 2px solid #CCCCCC;
    height: 200px;

}

#gallery .card:hover {
    border-radius: 4px;
    transition: all .2s;
}

.card-body {
    height: 100%;
}

.card-footer {
    background-color: white;
}

.name-text {
    font-weight: 600;
}

.major-text {
    font-size: .9em;
    color: #F76902;
    font-weight: 600;
}


#gallery .card .portfolio-website{
    display: none;
}

#gallery .card:hover .portfolio-website{
    display: block;
    color: #F76902;
    font-size: .9em;
}

#gallery .card .student-email{
    display: none;
}

#gallery .card:hover .student-email{
    display: block;
    color: #F76902;
    font-size: .9em;
}

#gallery .card .skills {
    font-size: .9em;
    display: none;
}

#gallery .card:hover .skills{
    display: block;
}

.PHpurple {
    background: linear-gradient(90deg, #DFD2FF 0%, #C7B1FF 100%);
}

.PHred {
    background: linear-gradient(90deg, #FEBFB8 0%, #FD9083 100%);
}

.PHblue {
    background: linear-gradient(90deg, #ABE6FA 0%, #6CD3F6 100%);
}

.PHgreen {
    background: linear-gradient(90deg, #EAFACA 0%, #C9F177 100%);
}

.PHyellow {
    background: linear-gradient(90deg, #F4FAA9 0%, #EBF669 100%);
}

.PHorange {
    background: linear-gradient(90deg, #FDEEC5 0%, #F9D269 100%);
}


    
.btn {
    background-color: lightgray;
    border-radius: 0;
    width: 125px;
}

.dropdown .btn {
    background-color: white;
}

.btn:hover {
    background-color: #F76902;
    /* RIT ORANGE */
    color: white;
    transition: all 0.3s;
}

/* Filter & sort by dropdown styles */
.dropdown-menu.show {
    padding: 10px 15px 15px 15px;
    height: 70vh;
    width: calc(100% - 150px);
    position: fixed !important;
    top: 170px !important;
    left: 75px !important;
    overflow-y: scroll;
    display: flex;
    justify-content: space-around;
}

.dropdown-menu > div {
    display: flex;
    flex-direction: column;
}

.dropdown-menu > div:not(:last-child) {
  margin-right: 15px;
}

.dropdown-heading {
  font-size: 24px;
}

.dropdown-section {
  margin-top: 10px;
}

.skills-section {
  display: flex;
  justify-content: space-between;
}

.skill {
  text-decoration: underline;
}

/* Other styles */
p {
    margin-bottom: 5px;
}

p:last-child {
    margin-bottom: 0;
}

/* Media queries for gallery */
@media only screen and (max-width: 800px) {
  h1 {
    font-size: 2em;
  }
}

@media only screen and (max-width: 675px) {
  #filters {
    flex-direction: column;
  }
  .dropdown-menu.show {
    flex-direction: column;
    display: inherit;
  }
  .mobile-dropdown-heading {
    margin-top: 15px;
  }
  .skills-section {
    justify-content: space-around;
  }
}

@media only screen and (max-width: 510px) {
  #controls {
    flex-direction: column;
  }
  #controls button {
    width: 100%;
  }
  button:not(:last-child) {
    margin-bottom: 10px;
  }
}